@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Ramabhadra&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@layer components {
    .clip-f-b {
        animation: clip-f-b-animation 1s cubic-bezier(0.16, 1, 0.3, 1);
    }
    .clip-f-t {
        animation: clip-f-t-animation 1s cubic-bezier(0.16, 1, 0.3, 1);
    }
    .clip-f-l {
        animation: clip-f-l-animation 1s cubic-bezier(0.16, 1, 0.3, 1);
    }
    .clip-f-r {
        animation: clip-f-r-animation 1s cubic-bezier(0.16, 1, 0.3, 1);
    }
    .carousel-t-r {
        animation: carousel-t-r-animation 12s linear infinite;
    }
    .carousel-t-l {
        animation: carousel-t-l-animation 20s linear infinite;
    }

    .hand-wave {
        animation: hand-wave-animation 3s cubic-bezier(0.16, 1, 0.3, 1) infinite;
    }

    .card {
        animation: card-exit 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }
    .card-enter {
        animation: card-enter 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }

    .blog-styles {
        @apply space-y-8;
        a {
            @apply text-link-light hover:underline dark:text-link-dark;
        }
    }

    .bg-pattern {
        background-image: radial-gradient(
            theme("colors.secondary.light") 3px,
            transparent 3px
        );
        background-size: 92.5px 92.5px;
    }

    @media (prefers-color-scheme: dark) {
        .bg-pattern {
            background-image: radial-gradient(
                theme("colors.secondary.dark") 3px,
                transparent 3px
            );
        }
    }
}

h1 {
    @apply text-9xl text-text-light dark:text-text-dark;
    font-family: "Ramabhadra", sans-serif;
    line-height: 116.4px;
    letter-spacing: -3%;
}

h2 {
    @apply text-6xl font-bold text-text-light dark:text-text-dark;
    font-family: "Archivo", sans-serif;
    line-height: 74px;
    letter-spacing: -1%;
}

p {
    @apply text-3xl font-normal text-text-light dark:text-text-dark;
    font-family: "Archivo", sans-serif;
    line-height: 46px;
    letter-spacing: 2%;
}

@keyframes hand-wave-animation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);

    }
}

@keyframes card-enter {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes card-exit {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
}

@keyframes carousel-t-r-animation {
    from {
        transform: translate(calc(-50%));
    }
    to {
        transform: translate(calc(0% + 1rem));
    }
}

@keyframes carousel-t-l-animation {
    from {
        transform: translate(calc(0%));
    }
    to {
        transform: translate(calc(-50% - 1rem));
    }
}

@keyframes clip-f-l-animation {
    0% {
        transform: translateX(-100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    100% {
        transform: translateX(0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes clip-f-r-animation {
    0% {
        transform: translateX(100%);
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    100% {
        transform: translateX(0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes clip-f-b-animation {
    0% {
        transform: translateY(100%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    100% {
        transform: translateY(0%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes clip-f-t-animation {
    0% {
        transform: translateY(-100%);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    100% {
        transform: translateY(0%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}
