---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import ImageMe from "@assets/me.webp";
import IconLink from "@components/IconLink.astro";

import * as AboutMe from "@markdown/about.md";
const title = AboutMe.frontmatter.title;
---

<Layout>
	<main class="grid grid-cols-2 gap-8 relative content-min-h">
		<Image
			src={ImageMe}
			alt="Myself staring in the distance, during day"
			class="rounded-lg h-[70svh] object-cover"
		/>
		<article class="blog-styles flex flex-col justify-center">
			<h3>{title}</h3>
			<AboutMe.Content />

			<section>
				<IconLink href="/projects">Projects</IconLink>
			</section>
		</article>
	</main>
</Layout>

<style>
	.content-min-h {
		min-height: calc(70svh);
	}
</style>
