---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import ImageMe from "@assets/me.webp";
import IconLink from "@components/IconLink.astro";

import * as AboutMe from "@markdown/about.md";
const title = AboutMe.frontmatter.title;
---

<Layout>
	<div class="grid grid-cols-2 gap-8 relative">
		<Image
			src={ImageMe}
			alt="Myself staring in the distance, during day"
			class="rounded-lg object-cover size-96"
			loading='eager'
		/>
		<article class="blog-styles flex flex-col justify-center">
			<h3>{title}</h3>
			<AboutMe.Content />

			<section>
				<IconLink href="/projects">Projects</IconLink>
			</section>
		</article>
	</div>
</Layout>
