---
import Layout from "src/layouts/Layout.astro";
import { Accordion } from "@/components/ProjectContainer";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout>
	<div class="">
		<Accordion projects={projects} client:idle />
	</div>
</Layout>
