---
import { getYearOld } from "@utils/getYearOld";
import ArrowLeft from "@icons/arrow-left.svg";

const iconCount = 64;
const icons = Array.from({ length: iconCount });
const tickerSpeed = 40; // pixels per second
const tickerDistance = iconCount * (48 + 24); // icon width + gap
const tickerDuration = tickerDistance / tickerSpeed;

const yo = getYearOld();
---

<nav class="overflow-hidden">
	<div class="flex flex-row space-x-8 items-center">
		<p class="text-nowrap font-bold text-base sm:text-2xl">
			{yo}yo Software engineer • designer
		</p>

		<div class="items-center hidden sm:flex flex-1 min-w-0" aria-hidden="true">
			<div class="ticker">
				<div
					class="ticker-track"
					style={`--ticker-duration: ${tickerDuration}s; --ticker-gap: 1.5rem; --ticker-segment-width: ${tickerDistance}px;`}
				>
					<div class="ticker-segment">
						{icons.map(() => <ArrowLeft class="arrow" aria-hidden="true" />)}
					</div>
					<div class="ticker-segment" aria-hidden="true">
						{icons.map(() => <ArrowLeft class="arrow" aria-hidden="true" />)}
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<style>
	.arrow {
		@apply bg-secondary-light fill-text-light dark:bg-secondary-dark dark:fill-text-dark size-12;
	}
</style>
