---
import Outgoing from "@assets/icons/outgoing.svg";
import ArrowRight from "@assets/icons/arrow-right.svg";

interface Props {
	href: URL | string | null | undefined;
}

const { href } = Astro.props;
---

<a
	href={href}
	class="group inline-flex items-center gap-2 relative transition-transform hover:translate-x-1 underline md:no-underline  hover:underline focus:translate-x-1 active:translate-x-3"
>
	<slot name="icon">
		<Outgoing class="ic-link mr-2" />
	</slot>
	<slot />
	<ArrowRight
		class="scale-x-0 transition-all group-hover:scale-x-100 group-focus:scale-x-100 fill-text-light dark:fill-text-dark"
	/>
</a>
